.wizard-nav {
   @include default-transition-all;
   z-index: $z-index-1;
   position: fixed;
   bottom: 0;
   left: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   padding: $size-base * 3;
   opacity: 0;
   pointer-events: none;
   transform: translateX(-50%) translateY(50%) scale(0.8);
   &.show {
      opacity: 1;
      pointer-events: all;
      transform: translateX(-50%) translateY(0) scale(1);
   }
}

.estadio-wrapper {
   display: flex;
   flex-direction: row;
   color: white;
   align-items: center;
   justify-content: center;
   font-family: $main-font;
   @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .estadion-img {
      img {
         width: 80px;
      }
   }   
   .estadio-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include media-breakpoint-down(sm) {
         align-items: center;
      }
      .estadio-text-actions {
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
         align-items: center;
      }
      .nombre {
         font-size: 1.5rem;
         line-height: 2rem;
         @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
            line-height: 1.6rem;
         }
      }
      .apodo {
         font-size: 2rem;
         line-height: 2.5rem;
         @include media-breakpoint-down(sm) {
            font-size: 1.5rem;
            line-height: 1.8rem;
         }
      }
   }
}

.estadio-share {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   @include media-breakpoint-down(sm) {
      margin-top: 30px;
   }
   .btn-estadio-share {
      border: none;
      border-radius: $border-radius;
      padding: $size-base * 2 $size-base * 4 $size-base * 2 $size-base * 4;
      font-family: $main-font;
      font-size: 1.2rem;
      background-color: #4267B2;
      color: white;
      text-decoration: none;
      @include media-breakpoint-down(sm) {
         padding: $size-base * 1.5 $size-base * 3 $size-base * 1.5 $size-base * 3;
         font-size: 0.9rem;
      }
      &:hover {
         text-decoration: none;
         background-color: white;
         color: #4267B2;
      }
   }
}

.estadios-counter {
   font-family: $main-font;
   color: white;
   margin-top: 15px;
   .estadios-number {
      font-size: 2rem;
      color: map-get($colors, orange-light)
   }
}

.right-button {
   position: fixed;
   right: $size-base * 4;
   z-index: $z-index-max;
   display: block;
   padding: $size-base * 2;
   background-color: map-get($colors, orange);
   border-radius: $border-radius;
   color: white;
   width: 40px;
   text-align: center;
   &:hover {
      text-decoration: none;
      background-color: white;
      color: map-get($colors, orange);
   }
   &.terminos {
      bottom: 130px;
      @include media-breakpoint-down(sm) {
         right: $size-base * 3;
         bottom: 60px;
      }
   }
   &.premios {
      bottom: 180px;
      @include media-breakpoint-down(sm) {
         right: $size-base * 3;
         bottom: 110px;
      }
   }
}