.background-map-wrapper {
   box-sizing: border-box;
   width: 100vw;
   height: 100vh;
   position: fixed;
}

.marker {
   width: 35px;
   height: 35px;
   img {
      width: 100%;
   }
}
.marker-popup {
   font-family: $main-font;
   font-size: 1rem;
   line-height: 1.4rem;
   text-align: center;
   color: map-get($colors, blue);
   .mapboxgl-popup-content {
      border-radius: $border-radius;
      .mapboxgl-popup-close-button {
         font-family: 'Courier New', Courier, monospace;
      }

   }
}