.background-map-wrapper {
   box-sizing: border-box;
   width: 100vw;
   height: 100vh;
   position: fixed;
}

.marker {
   width: 45px;
   height: 45px;
   img {
      width: 100%;
   }
}
.marker-popup {
   font-family: $main-font;
   font-size: 1rem;
   line-height: 1.4rem;
   text-align: center;
   color: map-get($colors, blue);
   .mapboxgl-popup-content {
      border-radius: $border-radius;
      .mapboxgl-popup-close-button {
         font-family: 'Courier New', Courier, monospace;
      }

   }
}

.mentolina-logo {
   position: fixed;
   bottom: 0;
   right: 0;
   padding: 0 $size-base * 4 $size-base * 6 0;
   width: 420px;
   z-index: $z-index-3;
   @include media-breakpoint-down(md) {
      width: 250px;
      padding: 0 $size-base * 3 $size-base * 3 0;
   }
   @include media-breakpoint-down(sm) {
      width: 160px;
      padding: 0 $size-base * 3 $size-base * 3 0;
   }
}