.le-modal {
   @include default-transition-all;
   position: fixed;
   z-index: $z-index-overlay;
   top: 50%;
   left: 50%;
   max-width: 90vw;
   max-height: 90vh;
   overflow: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: $size-base * 10 $size-base * 4 $size-base * 8 $size-base * 4;
   border-radius: $border-radius;
   background-color: map-get($colors, blue-dark);
   color: white;
   opacity: 0;
   pointer-events: none;
   transform: translate(-50%, 50%) scale(0.8);
   box-shadow: 0px 0px 200px rgba(255, 255, 255, 0.2);
   text-align: center;
   @include media-breakpoint-down(sm) {
      width: calc(100% - (#{$size-base} * 6));
   }
   &.small-width {
      max-width: 400px;
   }
   &.opened {
      pointer-events: all;
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
   }
   .close-button {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      padding: $size-base * 3;
      text-decoration: none;
      color: white;
      z-index: $z-index-1;
      &:hover {
         text-decoration: none;
         color: map-get($colors, blue-light);
      }
   }
}

.modal-overlay {
   @include default-transition-all;
   position: fixed;
   z-index: $z-index-max;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   pointer-events: none;
   opacity: 0;
   &.show {
      pointer-events: all;
      opacity: 1;
   }
}