$font-size-base: 14px;
$size-base: 5px;
$border-radius: 10px;
$nav-height: 90px;

$colors: (
   blue-dark: #0A2140,
   blue: #1b54a6,
   blue-light: #1a6bb5,
   aqua: #70c6aa,
   orange: #f26222,
   orange-light: #f7966d,
   red: #FF0000,
   white: #f2f2f2
);

$z-index-preloader: 999;
$z-index-overlay: 995;
$z-index-max: 990;
$z-index-1: 980;
$z-index-2: 970;
$z-index-3: 960;
$z-index-4: 950;

$main-font: 'monument';