$font-size-base: 14px;
$size-base: 5px;
$border-radius: 10px;
$nav-height: 90px;

$colors: (
   blue-dark: #0A2140,
   blue: #1b54a6,
   blue-light: #1a6bb5,
   aqua: #70c6aa,
   orange: #f26222,
   orange-light: #f7966d,
   red: #FF0000,
   white: #f2f2f2
);

$z-index-preloader: 999;
$z-index-overlay: 995;
$z-index-max: 990;
$z-index-1: 980;
$z-index-2: 970;
$z-index-3: 960;
$z-index-4: 950;
$z-index-5: 940;

$main-font: 'monument';


$hsizes: (
   h1: $font-size-base * 2.5,
   h2: $font-size-base * 2,
   h3: $font-size-base * 1.8,
   h4: $font-size-base * 1.6,
   h5: $font-size-base * 1.2
);

@each $h, $size in $hsizes {
   #{$h} {
      font-size: $size;
      @include media-breakpoint-down(sm) {
         font-size: $size * 0.8;
      }
   }
}


@each $key, $color in $colors {
   .background-#{$key} {
      background-color: $color;
   }
   .text-#{$key} {
      color: $color;
   }
}