@import '../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

@import 'reset';
@import 'settings';
@import 'mixins';
@import 'heading';
@import 'modals';
@import 'loader';
@import 'nav';
@import 'ui';
@import 'map';
@import 'estadios';
@import 'fonts';
@import 'geolocation';
@import 'share';

body {
   font-family: 'Source Sans Pro', sans-serif;
}

*:not(div) {
   @include default-transition-all;
}

h1, h2, h3, h4, h5 {
   font-family: $main-font;
}

p {
   padding-bottom: $size-base * 3;
}

.terminos {
   p {
      font-size: $font-size-base * 1.3 !important;
      line-height: $font-size-base * 1.6 !important;
      text-align: left;
   }
   ol, ul {
      margin-bottom: $size-base * 5;
      list-style-type: disc;
      li {
         font-size: $font-size-base * 1.3 !important;
         line-height: $font-size-base * 1.6 !important;
         text-align: left;
         margin-bottom: $size-base;
         margin-left: $size-base * 3;
      }
   }
   h1, h2, h3, h4, h5 {
      text-align: left;
   }
}

.the-content-container {
   margin-top: 100vh;
}

.img-premio {
   @include media-breakpoint-down(sm) {
      max-width: 150px;
      margin-bottom: $size-base * 3;
   }
}

.cintillo {
   position: fixed;
   z-index: $z-index-max;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 40%;
   @include media-breakpoint-down(sm) {
      left: 45%;
      width: 80%;
      bottom: $size-base * 10;
   }
   .cintillo-image-part {
      width: 100%;
   }
}